@{
    Layout = null;
}

<html>
<head>
    <title>Inga Samonenko's PhD thesis</title>
</head>
<body>
    <h1>Inga Samonenko's PhD thesis</h1>
    Coming soon...

    <p>@Html.ActionLink("BDcode", "Index", "BDcode")</p>
    <p>@Html.ActionLink("KDcode", "Index", "KDcode")</p>
    <p>@Html.ActionLink("KMDcode", "Index", "KMDcode")</p>
    <p>@Html.ActionLink("Genzcode", "Index", "Genzcode")</p>


</body>
</html>
